.progress-ring {
  position: absolute;
  height: 370px;
  width: 370px;
}

circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: 1.4s ease-in-out both circle-animation;
  stroke-linecap: round;
}

@keyframes circle-animation {
  0% {
    stroke-dashoffset: 1112.1237993707869;
  }
}
