.carousel__container:before {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  filter: blur(10px);
  background-image: url('/background--dashboard.png');
  background-position: 50%;
  border-radius: 50%;
}

.carousel__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 375px;
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
