$yellow: #F1DB75;
$purple: #E2ACF7;


.slide__container {
  height: 375px;
  width: 375px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  color: white;
  right: -375px;
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
}

p {
  margin: 0;
}

.slide__content-upper, .slide__content-lower {
  font-size: 20px;
  font-weight: 300;
}

.slide__content-middle {
  font-size: 90px;
  font-weight: 100;
}

.slide__content-middle--scoreIndicator {
  color: $yellow;
}

.slide__content-middle--longTermDebt {
  color: $purple;
}

@-webkit-keyframes slide {
  100% { right: 0; }
}

@keyframes slide {
  100% { right: 0; }
}
